<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Obsidian Soft</title>
  <link rel="icon" type="image/png" href="./dev/static/brand/16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="./dev/static/brand/32.png" sizes="32x32">

  <script src="https://kit.fontawesome.com/ed80bef117.js"></script>

</head>

<body id="bodyClassMain">

  {{!--  --}}
  {{> partials/menu }}
  {{!--  --}}
  {{> partials/hero }}
  {{!--  --}}
  {{> partials/about }}
  {{!--  --}}
  {{> partials/advanced }}
  {{!--  --}}
  {{> partials/banner}}
  {{!--  --}}
  {{> partials/moreaboutUs }}
  {{!--  --}}
  {{> partials/video }}
  {{!--  --}}
  {{> partials/clients }}
   {{!--  --}}
  {{> partials/ai }}
  {{!--  --}}
  {{> partials/contactUs }}
  {{!--  --}}
  {{> partials/footer }}


</body>

</html>