body{
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.NoScroll{
  overflow: hidden;
}
#content{
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.4);
}
h1,h2,h3{
  font-family: 'Open Sans', sans-serif;
}
h4,h5,h6{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.px-0{
  padding-left: 0!important;
  padding-right: 0!important;
}
.py-0{
  padding-top:0!important;
  padding-bottom:0!important;
}

.boxHeight{
  height: 650px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 601px) {
    height: auto;
    padding: 2em 0;
  }
}