//ICON

#MenuSiteIcon {
  cursor: pointer;
  color: $blackAlt;
  font-size: 1.6em;
  @include transAux(350ms);
  &:hover {
    @include transAux(350ms);
    transform: rotate(90deg);
  }
}
//////////PLASTA
.menu {
  background: rgba(#232526, 0.9);
  height: 100vh;
  color: $white;
  position: fixed;
  width: 100%;
  z-index: 3;
  transform: translateX(-100%);
  transition: all 400ms ease-in-out;
  .contenedor {
    position: relative;
    opacity: 0;
  }
  @media only screen and (max-width: 601px) {
    transform: translateX(-100%);
  }
}

/////
.menuShow {
  transition: all 400ms ease-in-out;
  transform: translateX(0%);
  @media only screen and (max-width: 601px) {
    transform: translateX(0%);
  }
  .contenedor {
    @media only screen and (max-width: 601px) {
      transform: skewY(0);
    }
    animation: showItems 2s forwards ease-in-out;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .info-Menu {
      a {
        color: $white;
        font-weight: 700;
      }
    }
    .cont {
      align-items: center;
      justify-content: center;
      display: flex;
      @media only screen and (max-width: 601px) {
        width: 88%;
      }
      .main {
        width: 60%;
        @media only screen and (max-width: 601px) {
          width: 100%;
          height: 100%;
        }
        h2 {
          font-size: 5em;
          padding-left: 0.5em;
          letter-spacing: -2px;
          border-left: 8px solid $primary;
          margin-bottom: 0em;
          margin-top: 0px;
          @media only screen and (max-width: 601px) {
            font-size:3em;
          }
        }
        p {
          font-size: 3em;
          font-weight: 100;
          letter-spacing: 1pt;
          span {
            font-weight: 400;
          }
          @media only screen and (max-width: 601px) {
            font-size: 1.4em;
          }
        }
        ul {
          margin: 0;
          padding: 0;
          display: inline-flex;

          li {
            position: relative;
            font-weight: 500;
            font-size: 2em;
            margin-right: 0.8em;
            letter-spacing: 1pt;

            &:before {
              border-radius: 100px;
              position: absolute;
              bottom: 0;
              width: 0%;
              background-color: #fff;
              height: 4px;
              content: '';
              box-sizing: inherit;
              left: 0;
              @include transAux(350ms);
            }
            a {
              pointer-events: none;
              color: #fff;
              @include transAux(350ms);
            }
            &:hover {
              a {
                @include transAux(350ms);
                color: rgba(#fff, 0.4);
              }
              &:before {
                @include transAux(350ms);
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
@keyframes showItems {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menuHeroNav {
  position: fixed;
  z-index: 4;
  background: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  border-right: 1px solid #e6e6e6;
  @media only screen and (max-width: 601px) {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.36);
    overflow: hidden;
    height: 80px;
    width: 100vw;
      display: flex;
      padding: 0 2em;

  }
  .blockNav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  .speak {
    ul {
      li {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        color: #e6e6e6;
        text-decoration: line-through;
        padding-top: 34px;
        &:first-child {
          color: $gris;
          text-decoration: none;
        }
      }
    }
    @media only screen and (max-width: 601px) {
    display: none;
    }
  }
  .bottom {
    @media only screen and (max-width: 601px) {
      display: none;
      }
    ul {
      li {
        font-size: 21px;
        padding-top: 13px;
        i {
          @include transAux(350ms);
          color: #e6e6e6;
        }
        &:hover {
          i {
            @include transAux(350ms);
            color: $secundaryAlt;
          }
        }
      }
    }
  }
}
